/* Project fonts */
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Black.woff2") format("woff2"), url("../../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-BlackItalic.woff2") format("woff2"), url("../../fonts/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Bold.woff2") format("woff2"), url("../../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Italic.woff2") format("woff2"), url("../../fonts/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-LightItalic.woff2") format("woff2"), url("../../fonts/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Medium.woff2") format("woff2"), url("../../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-MediumItalic.woff2") format("woff2"), url("../../fonts/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-BoldItalic.woff2") format("woff2"), url("../../fonts/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Light.woff2") format("woff2"), url("../../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-ThinItalic.woff2") format("woff2"), url("../../fonts/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.woff2") format("woff2"), url("../../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Thin.woff2") format("woff2"), url("../../fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
/* COLORS  */
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-size: 16px;
}

a {
  color: #506690;
}
a, a:link {
  text-decoration: none;
}
a:focus {
  border: none;
}

button {
  border-style: none;
}

button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

/** Mixin for media queries
    Size applied from https://getbootstrap.com/docs/4.1/layout/grid/
*/
/* -------HEADER styles-------- */
.header {
  z-index: 8;
}

.header--scrolled {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 8;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  background-color: white;
  padding: 20px 0;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container {
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  .header-container {
    padding: 0;
  }
}
.header-container .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container .logo {
    width: 40%;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .header-container .logo {
    width: 35%;
    justify-content: center;
  }
}
.header-container .navbar {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container .navbar {
    display: flex;
    width: 60%;
  }
}
@media screen and (min-width: 1024px) {
  .header-container .navbar {
    display: flex;
    width: 65%;
  }
}
.header-container .navbar--mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.header-container .navbar__list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container .navbar__list {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    height: unset;
  }
}
@media screen and (min-width: 1024px) {
  .header-container .navbar__list {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    height: unset;
  }
}
.header-container .navbar__item {
  font-style: normal;
  font-weight: 900;
  font-size: 1.06rem;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 20px 0;
  color: #506690;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container .navbar__item {
    padding: 25px 20px;
  }
}
@media screen and (min-width: 1024px) {
  .header-container .navbar__item {
    padding: 20px 20px;
  }
}
.header-container .navbar__item--active {
  color: #335EEA;
}
.header-container .hamburger-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container .hamburger-btn {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .header-container .hamburger-btn {
    display: none;
  }
}
.header-container .x-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container .x-btn {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .header-container .x-btn {
    display: none;
  }
}
.header-container .hamburger-btn--clicked, .header-container .x-btn--clicked {
  display: none;
}

.main-content {
  width: 100%;
  background-color: #E5E5E5;
}
.main-content .container {
  width: 100%;
  padding: 5% 15%;
}
.main-content .container .blogs {
  padding: 20px 0;
  display: grid;
  grid-gap: 33px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-content .container .blogs {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .main-content .container .blogs {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.main-content .container .post {
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
  box-shadow: 0px 24px 64px rgba(22, 27, 45, 0.05);
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
.main-content .container .post .star {
  position: absolute;
  right: 12px;
  top: 10px;
  z-index: 1;
}
.main-content .container .post__body {
  padding: 25px;
  display: grid;
  grid-gap: 15px;
}
.main-content .container .post__img {
  position: relative;
}
.main-content .container .post__img-item {
  width: 100%;
  height: 205px;
  border-radius: 5px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-content .container .post__img-item {
    height: unset;
  }
}
@media screen and (min-width: 1024px) {
  .main-content .container .post__img-item {
    height: unset;
  }
}
.main-content .container .post__img:after {
  height: 2.40625rem;
  width: 100%;
  background-color: transparent;
  content: "";
  position: absolute;
  left: 0;
  top: 80%;
  background-image: radial-gradient(circle farthest-corner at 2rem -70rem, transparent 97%, rgba(0, 0, 0, 0) 0%, white 50%);
}
.main-content .container .post__title {
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #161B2D;
}
.main-content .container .post__content {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #6B7C93;
}
.main-content .container .post__author {
  display: grid;
  grid-template-columns: 0.4fr 1fr 1fr;
  border-top: 1px solid #F3F7FB;
  padding: 18px 0 0 0;
}
.main-content .container .post__author-photo {
  width: 24px;
  border-radius: 20px;
}
.main-content .container .post__author-name, .main-content .container .post__author .post__date {
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #6B7C93;
  opacity: 0.7;
}
.main-content .search {
  box-shadow: 0px 8px 24px rgba(22, 27, 45, 0.1);
  border-radius: 6px;
  background-color: #FFFFFF;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 8px 12px;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-content .search {
    grid-template-columns: 0.1fr 2fr 0.5fr;
  }
}
@media screen and (min-width: 1024px) {
  .main-content .search {
    grid-template-columns: 0.1fr 2fr 0.2fr;
  }
}
.main-content .search__input {
  border: none;
  padding: 8px 0;
}
.main-content .search__input ::placeholder {
  font-style: italic;
}
.main-content .search__input:focus {
  outline: none;
}
.main-content .search__btn {
  background: #335EEA;
  border-radius: 6px;
  padding: 8px;
  color: white;
  max-width: 84px;
}
.main-content .load-more {
  max-width: 571px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  border: #506690 solid 1px;
  border-radius: 6px;
  padding: 10px 0;
  margin: 95px auto;
  cursor: pointer;
}
.main-content .load-more__btn {
  background-color: #E5E5E5;
  font-style: normal;
  font-weight: 900;
  font-size: 17px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #335EEA;
  cursor: pointer;
}
.main-content .load-more__arrow {
  position: absolute;
  right: 8px;
  top: 34%;
}
.main-content .load-more--disable {
  display: none;
}
.main-content .link-to-details {
  display: block;
}

.whole-article {
  width: 100%;
}

.wrapper-medium {
  width: 100%;
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper-medium {
    max-width: 680px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper-medium {
    max-width: 680px;
    margin: 0 auto;
  }
}

.whole-post {
  width: 100%;
  display: grid;
  grid-gap: 23px;
  padding: 100px 20px;
}
@media screen and (min-width: 1024px) {
  .whole-post {
    padding: 100px 0;
  }
}
.whole-post .star {
  position: absolute;
  right: 20px;
  top: 20px;
}
.whole-post .star--clicked {
  fill: #FFC726;
}
.whole-post__title {
  font-style: normal;
  font-weight: 900;
  font-size: 33px;
  line-height: 43px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #161B2D;
}
@media screen and (min-width: 1024px) {
  .whole-post__title {
    font-size: 43px;
    line-height: 53px;
  }
}
.whole-post__synopsis {
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 32px;
  text-align: center;
  color: #506690;
}
.whole-post .post__author {
  display: grid;
  grid-gap: 20px;
  border-top: 1px solid #F3F7FB;
  padding: 18px 0 0 0;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .whole-post .post__author {
    grid-template-columns: 1fr 1fr;
    grid-gap: unset;
  }
}
@media screen and (min-width: 1024px) {
  .whole-post .post__author {
    grid-template-columns: 1fr 1fr;
    grid-gap: unset;
  }
}
.whole-post .post__author-info {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .whole-post .post__author-info {
    grid-template-columns: 0.2fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .whole-post .post__author-info {
    grid-template-columns: 0.2fr 1fr;
  }
}
.whole-post .post__author-photo {
  width: 24px;
  border-radius: 20px;
  justify-self: center;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .whole-post .post__author-photo {
    justify-self: start;
  }
}
@media screen and (min-width: 1024px) {
  .whole-post .post__author-photo {
    justify-self: start;
  }
}
.whole-post .post__author-name {
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: black;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .whole-post .post__author-name {
    text-align: start;
  }
}
@media screen and (min-width: 1024px) {
  .whole-post .post__author-name {
    text-align: start;
  }
}
.whole-post .post__author-text {
  display: grid;
}
.whole-post .post__author-social {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .whole-post .post__author-social {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .whole-post .post__author-social {
    grid-template-columns: 1fr 1fr;
  }
}
.whole-post .post__author-social .social-words {
  text-align: center;
  align-self: center;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  color: #869AB8;
  transform: rotate(-0.32deg);
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .whole-post .post__author-social .social-words {
    text-align: right;
  }
}
@media screen and (min-width: 1024px) {
  .whole-post .post__author-social .social-words {
    text-align: right;
  }
}
.whole-post .post__author-social .social-logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.whole-post .post__author-social .social-link {
  text-align: center;
}
.whole-post .post__date {
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  color: #506690;
  opacity: 0.7;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .whole-post .post__date {
    text-align: start;
  }
}
@media screen and (min-width: 1024px) {
  .whole-post .post__date {
    text-align: start;
  }
}
.whole-post .post__img-item {
  width: 100%;
  border-radius: 5px;
}
.whole-post .post__content {
  font-style: normal;
  font-weight: 900;
  font-size: 17px;
  line-height: 26px;
  color: #161C2D;
}

.not-found {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  padding-top: 100px;
  height: 100vh;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .not-found {
    height: unset;
  }
}
@media screen and (min-width: 1024px) {
  .not-found {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
.not-found__picture {
  width: 100%;
}
.not-found__info {
  display: grid;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .not-found__info {
    grid-template-rows: 1fr 0.2fr;
  }
}
@media screen and (min-width: 1024px) {
  .not-found__info {
    grid-template-rows: 0.1fr 0.1fr;
    padding-top: 100px;
  }
}
.not-found__info-title {
  font-style: normal;
  font-weight: 900;
  font-size: 52px;
  line-height: 61px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01em;
  color: #12263F;
}
.not-found__info-paragraph {
  font-style: normal;
  font-weight: 900;
  font-size: 17px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  color: #506690;
  padding: 20px 0;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .not-found__info-paragraph {
    padding: 20px;
    max-width: 410px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .not-found__info-paragraph {
    padding: 20px 55px;
    max-width: 410px;
    margin: 0 auto;
  }
}
.not-found__safety {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  background: #335EEA;
  border-radius: 6px;
  padding: 17px 0;
  width: 153px;
  height: 50px;
}
.not-found__safety-link {
  color: white;
}
.not-found__text {
  justify-content: center;
  align-items: center;
}
.not-found__img {
  padding: 50px 0;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .not-found__img {
    padding: 80px 0;
  }
}

/*# sourceMappingURL=styles.css.map */
