/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:link {
  text-decoration: none;
}
a:focus {
  border: none;
}

button {
  border-style: none;
}

button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.height-section {
  height: 2000px;
}

/** Mixin for media queries
    Size applied from https://getbootstrap.com/docs/4.1/layout/grid/
*/
/* -------HEADER styles-------- */
.header--scrolled {
  /* background-color: var(--brand-turquoise-back); */
  position: fixed;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  background-color: white;
  padding: 20px 0;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container {
    height: 88px;
    padding: 30px 60px;
  }
}
@media screen and (min-width: 1024px) {
  .header-container {
    padding: 10px 142px 0px 166px;
    height: 54px;
  }
}
.header-container .logo {
  display: flex;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container .logo {
    width: 50%;
  }
}
.header-container .navbar {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container .navbar {
    display: flex;
    width: 50%;
  }
}
.header-container .navbar--mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.header-container .navbar__list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container .navbar__list {
    width: 100%;
    height: 30px;
    flex-direction: row;
    justify-content: flex-end;
    height: unset;
  }
}
.header-container .navbar__item {
  margin: 30px 0;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container .navbar__item {
    margin: 0 20px;
  }
}
@media screen and (min-width: 1024px) {
  .header-container .navbar__item {
    margin: 0 10px;
  }
}
.header-container .navbar__item--active {
  /* border-bottom: var(--brand-purpple) 3px solid; */
}
.header-container .navbar__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  margin: 20px 0;
  border: black 1px solid;
  border-radius: 10px;
  /* background-color: var(--brand-purpple); */
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container .navbar__contact {
    margin: 20px 10px;
    border: none;
    border-radius: 10px;
  }
}
.header-container .navbar__contact:hover {
  /* background-color: var(--white-primary); */
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container .navbar__contact:hover {
    /* background-color: var(--brand-purpple); */
    color: var(--white-primary);
  }
}
.header-container .navbar__contact-link {
  height: 100%;
  /* color: var(--white-primary); */
  padding-top: 8px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container .navbar__contact-link {
    /* color: var(--text-primary); */
    margin: 0 10px;
    padding-top: 9px;
  }
}
.header-container .navbar__contact-link:hover {
  /* color: var(--brand-purpple); */
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container .navbar__contact-link:hover {
    /* color: var(--white-primary);  */
  }
}
.header-container .hamburger-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container .hamburger-btn {
    display: none;
  }
}
.header-container .x-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container .x-btn {
    display: none;
  }
}
.header-container .hamburger-btn--clicked, .header-container .x-btn--clicked {
  display: none;
}
.header-container .hamburger-btn--scrolled, .header-container .x-btn--scrolled {
  /* background-color: var(--brand-turquoise-back); */
}

/* COLORS  */

/*# sourceMappingURL=styles.css.map */
