.main-content {
  width: 100%;
  background-color: $background-primary;
  .container {
    width: 100%;
    padding: 5% 15%;
    .blogs {
      padding: 20px 0;
      display: grid;
      grid-gap: 33px;
      @include responsive-page(md) {
        grid-template-columns: 1fr 1fr;
      }
      @include responsive-page(mdtop) {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
    .post {
      background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
      box-shadow: 0px 24px 64px rgba(22, 27, 45, 0.05);
      border-radius: 5px;
      cursor: pointer;
      position: relative;
      .star {
        position: absolute;
        right: 12px;
        top: 10px;
        z-index: 1;
      }
      &__body {
        padding: 25px;
        display: grid;
        grid-gap: 15px;
      }
      &__img {
        position: relative;
        &-item {
          width: 100%;
          height: 205px;
          border-radius: 5px;
          @include responsive-page(md) {
            height: unset;
          }
          @include responsive-page(mdtop) {
            height: unset;
          }
        }
        &:after{
          height: 2.40625rem;
          width: 100%;
          background-color: transparent;
          content: "";
          position: absolute;
          left: 0;
          top: 80%;
          background-image: radial-gradient(circle farthest-corner at 2rem -70rem, transparent 97%, rgba(0, 0, 0, 0) 0%, white 50%);
        }
      }
      &__title {
        font-style: normal;
        font-weight: 900;
        font-size: 21px;
        line-height: 28px;
        letter-spacing: -0.01em;
        color: $titles-text;
      }
      &__content {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;        
        color: $content-text;
      }
      &__author {
        display: grid;
        grid-template-columns: 0.4fr 1fr 1fr;
        border-top: 1px solid #F3F7FB;
        padding: 18px 0 0 0;
        &-photo {
          width: 24px;
          border-radius: 20px;
        }
        &-name, .post__date {
          font-style: normal;
          font-weight: 900;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.07em;
          text-transform: uppercase;
          color: $content-text;
          opacity: 0.7;
        }
      }
    }
  }
  .search {
    box-shadow: 0px 8px 24px rgba(22, 27, 45, 0.1);
    border-radius: 6px;
    background-color: #FFFFFF;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 8px 12px;
    align-items: center;
    @include responsive-page(md) {
      grid-template-columns: 0.1fr 2fr 0.5fr;
    }
    @include responsive-page(mdtop) {
      grid-template-columns: 0.1fr 2fr 0.2fr;
    }
    &__input {
      border: none;
      padding: 8px 0;
      ::placeholder {
        font-style: italic;
      }
    }
    &__input:focus {
      outline: none;
    }
    &__btn {
      background: #335EEA;
      border-radius: 6px;
      padding: 8px;
      color: white;
      max-width: 84px;
    }
  }
  .load-more {
    max-width: 571px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    border: $gray-700 solid 1px;
    border-radius: 6px;
    padding: 10px 0;
    margin: 95px auto;
    cursor: pointer;
    &__btn {
      background-color: $background-primary;
      font-style: normal;
      font-weight: 900;
      font-size: 17px;
      line-height: 26px;
      display: flex;
      align-items: center;
      text-align: center;
      color: $primary-color;
      cursor: pointer;
    }
    &__arrow {
      position: absolute;
      right: 8px;
      top: 34%
    }
    &--disable {
      display: none;
    }
  }
  .link-to-details {
    display: block;
  }
}